<body>
  <div class="row">
    <div class="leftcolumn">
      <div style="height:350px;"><img src="https://images.unsplash.com/photo-1585747860715-2ba37e788b70?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8YmFyYmVyc2hvcHxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80" style="height:350px; width:1000px;" /></div>
      <h2>{{specialist.name}}</h2>
      <h5>{{specialist.category}}, March 3, 2021</h5>
      <div class="card-body card-body-cascade text-center wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-name: fadeIn; animation-iteration-count: 1; animation-delay: 0.2s;">

        <a class="btn btn-primary btn-lg waves-effect waves-light">Umów wizytę</a>
        <a class="btn btn-secondary btn-lg waves-effect waves-light">Napisz wiadomość</a><a class="btn btn-default btn-lg waves-effect waves-light">Wystaw Opinię</a>


      </div>
      <div class="card">
        <h3>Zakres usług</h3>
        <div *ngFor="let dash of specialist.longDescription">
          - {{dash}}
        </div>
      </div>

    </div>
    <div class="rightcolumn">
      <div class="card">
        <h2>O mnie</h2>
        <div class="fakeimg" style="height:350px;"><img class="img-fluid" src="{{specialist.img}}" alt="undefined" style="height:300px;"></div>
        <p>{{specialist.description}}.</p>
      </div>

      <div class="card">
        <h3>Adres</h3>
        <img class="img-fluid" src="{{specialist.adress}}" alt="undefined" style="height:300px;">
      </div>

    </div>
</div>



</body>
