<!--<h2>Specialists</h2>
<div class="specialists">
  <ul>
    <li *ngFor="let specialist of specialists">
      <div class="col-md-4 dupa">
        <mdb-card [cascade]="true">
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/men.jpg"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <mdb-card-body [cascade]="true" class="text-center">
            <h4 class="card-title">
              <strong>{{specialist.name}}</strong>
            </h4>
            <h5>{{specialist.category}}</h5>

            <mdb-card-text>
              {{specialist.description}}
            </mdb-card-text>

          </mdb-card-body>
        </mdb-card>
      </div>
    </li>
  </ul>
</div>
<button class="btn btn-primary btn-lg">pls</button>-->


<h2>Specialists</h2>
<div class="specialists">
      <div *ngFor="let specialist of specialists" class="col-sm-2 dupa">
        <mdb-card [cascade]="true">
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/men.jpg"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <mdb-card-body [cascade]="true" class="text-center">
            <h4 class="card-title">
              <strong>
                <a routerLink="/specialist/{{specialist.id}}">
                  {{specialist.name}}
                </a>
              </strong>
            </h4>
            <h5>{{specialist.category}}</h5>

            <mdb-card-text>
              {{specialist.description}}
            </mdb-card-text>

          </mdb-card-body>
        </mdb-card>
      </div>
</div>
<button class="btn btn-primary btn-lg">pls</button>
