<div class="task" (click)="basicModal.show()" mdbWavesEffect>
  <div class="task-name"></div>{{task.name}}
  <div class="task-category-image"><img src="{{task.category_img}}" /></div>
  <div class="task-price">{{task.price}}</div>
  <div class="task-estimated_time">{{task.estimated_time}}</div>

</div>

<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">{{task.category}}</h4>
      </div>
      <div class="modal-body">
          {{task.name}}
          <iframe
  width="475"
  height="450"
  style="border:0"
  loading="lazy"
  allowfullscreen
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB2NyJo8nmwODZm5IDASbhGBEngXkXsMus
    &q=Polna10,Warszawa">
  </iframe>
      </div>
      <div class="modal-footer">
        <p class="me-auto">{{task.price}} zł</p>
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Apply</button>
        <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Message</button>
      </div>
    </div>
  </div>
</div>
