.task {
  padding: 0.3rem 0rem 1rem 0rem  ;
  width: 100%;
  border: 2px solid;
  color: black;
  border-radius: 10px;
  margin-top:10px;

  display: grid;
  grid-template-columns: 65px 500px 50px;
  grid-template-rows: 35px  

}

  .task:hover {
    background-color: #f0f0f5;
  }

  .task-item{
      padding-left: 10px;
  }

  .task-item, #task-name{
      font-family:'Times New Roman', Times, serif;
      font-size: 20px;
  }

.task-item, #task-price {
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
}


/*.task, .ng-fa-icon {
background-color: red;
border-radius: 50%;
height: 40px;
width: 40px;
align-items: center;
}
*/
