.modal-content{
  max-height: calc(100vh - 100px);
  overflow-y: auto;
}

.modal-title {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  color: rgb(119, 119, 119);
}

#add-offer-btn {
  border: 0px;
  border-radius: 18px;
  color: white;
  padding: 0.45rem 0.8rem;
  margin: 0px 10px;
  transition: all 0.4s ease 0s;
}


